@model Student
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(a => a.name)
    @Html.TextBoxFor(a => a.Age)
    <input type="submit" value="Update" />
}

